.container{
    background-color: black;
}
.left {
    flex-direction: column; /* Change direction to column for vertical alignment */
    width: 25vw;
    /* padding: 10px; */
}
.right{
    width: 75vw;
    margin: 10px 0;
    position: relative;
}
.home{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.home ul li{
    display: flex;
    margin-top: 5px;
    gap: 20px;
    width: 22px;
    padding-top: 15px;
}
.liblary{
    height: 75vh;
    position: relative;

}
.heading img{
    width: 22px;
    fill: gray;
}
.plus img{
    width: 15px;
    filter: invert();
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    padding: 10px;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.header{
    justify-content:space-between ;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 7px;
    align-items: center;
}
.arrow img{
    width: 20px;
    /* margin: 10px; */
}
.log_in{
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 15px;
    border: 2px solid black;
    cursor: pointer;
    width: 90px;
    font-weight: bolder;
    font-size: 14px;
}
.log_in:hover{
    font-size: 16px;
}
.arrow button{
    border-radius: 50%;
    border: 2px solid;
    display: inline;
    background-color: black;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.sign_up{
    background-color: rgb(10, 10, 10);
    color: gray;
    border-radius: 40px;
    padding: 15px;
    border: 2px solid rgb(10, 10, 10);
    cursor: pointer;
    width: 110px;
    font-weight: bolder;
    font-size: 15px;
}
.sign_up:hover{
    font-size: 16px;
}
.sign{
    padding-right: 10px;
}
.arrow{
    padding-left: 10px;
}
.spotifyplaylist{
    padding: 15px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}
.card{
    width:180px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25,25,25);
    margin: 8px;
    position: relative;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card >*{
    padding-top: 5px;
}
.play{
    width: 45px;
    height: 35px;
    position: absolute;
    bottom: 38px;
    right: 30px;
    opacity: 0;
    transition: all 1s ease-out;
}
.playbutton{
    opacity: 1;
    bottom: 110px;
}
.playbar{
    width: 97%;
    position:absolute;
    background-color: rgb(190, 195, 195);
    padding: 12px;
    bottom: 0;
}
.iconbutton{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.iconbutton img{
    width: 30px;
}
.songlist ul {
    padding: 0 10px;
    max-height: 59vh;
    overflow-y: scroll;
}

.songlist ul li {
    list-style-type: decimal;
    padding: 5px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid gray;
    margin: 10px 0;
    padding: 6px;
    border-radius: 5px;
    justify-content: space-between;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}