:root{
    --a:0;
    --b:38px;
}
.container{
    background-color: black;
}
.left {
    flex-direction: column; /* Change direction to column for vertical alignment */
    width: 25vw;
    /* padding: 10px; */
}
.right{
    width: 75vw;
    margin: 10px 0;
    position: relative;
}
.home{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.home ul li{
    display: flex;
    margin-top: 5px;
    gap: 20px;
    width: 22px;
    padding-top: 15px;
}
.liblary{
    height: 73vh;
    position: relative;

}
.heading img{
    width: 22px;
    fill: gray;
}
.plus img{
    width: 15px;
    filter: invert();
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    padding: 10px;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.header{
    justify-content:space-between ;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 7px;
    align-items: center;
}
.arrow img{
    width: 20px;
    /* margin: 10px; */
}
.log_in{
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 15px;
    border: 2px solid black;
    cursor: pointer;
    width: 90px;
    font-weight: bolder;
    font-size: 14px;
}
.log_in:hover{
    font-size: 16px;
}
.arrow button{
    border-radius: 50%;
    border: 2px solid;
    display: inline;
    background-color: black;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.sign_up{
    background-color: rgb(10, 10, 10);
    color: gray;
    border-radius: 40px;
    padding: 15px;
    border: 2px solid rgb(10, 10, 10);
    cursor: pointer;
    width: 110px;
    font-weight: bolder;
    font-size: 15px;
}
.sign_up:hover{
    font-size: 16px;
}
.sign{
    padding-right: 10px;
}
.arrow{
    padding-left: 10px;
}
.spotifyplaylist{
    padding: 15px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}
.card{
    width:200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25,25,25);
    margin: 15px;
    position: relative;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card >*{
    padding-top: 5px;
}
.card:hover{
    --a:1;
    --b:110px;
    background-color: rgb(15, 15, 15);
}
.play{
    width: 45px;
    height: 35px;
    position: absolute;
    bottom: var(--b);
    right: 30px;
    opacity: var(--a);
    transition: all .5s ease-out;
}
.playbutton{
    opacity: 1;
}
.playbar{
    width: 74vw;
    position:fixed;
    background-color: rgb(54, 54, 54);
    padding: 5px;
    bottom: 20px;
    border-radius: 20px;

}
.iconbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    /* padding-right: 40px; */
    padding-top: 10px;
    cursor: pointer;
}
.iconbutton img{
    width: 30px;
}
.songlist ul {
    padding: 0 10px;
    max-height: 59vh;
    overflow-y: scroll;
    cursor: pointer;
}

.songlist ul li {
    list-style-type: decimal;
    padding: 5px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid gray;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    justify-content: space-between;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
.seekbar{
    /* border: 2px solid rgb(190, 190, 190); */
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 97%;
    border-radius: 20px;
    margin: 5px;
    background-color: white;
    cursor: pointer;
}
.circle{
    position: relative;
    background-color: rgb(234, 231, 231);
    height: 10px;
    width: 10px;
    bottom: 4px;
    left: 0%;
    border-radius: 50px;
    transition: left 0.5s;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    padding-right: 10px;
    /* margin-right: 40px; */
    margin-bottom: 10px;
}
.songinfo,.songtime{
    color: white;
}
.songinfo{
    width: 300px;
    /* background-color: black; */
    overflow: hidden;
}
.songtime{
    /* padding: 10px; */
    width: 95px;
}
.hamburger{
    display: none;
}
.cross{
    display: none;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo>:first-child{
    width: 100px;
}
@media (max-width:1300px) {
    .left{
        background-color: black;
        position: absolute;
        left: -130%;
        transition:.1s ease-in;
        z-index: 1;
        width: 385px;
    }
    .right{
        width: 100%;
    }
    .playbar{
        width: 98%;
    }
    .hamburger{
        display: block;
        width: 40px;
    }
    .sign{
        display: flex;
        position: absolute;
        right: 0;
    }
    .cross{
        display: block;
    }
    .logo :nth-child(2) img{
        width: 30px;
    }
    .iconbutton{
        margin-right: 40px;
        margin-left: 20px;
    }
    .songinfo{
        width: 100px;
        overflow: hidden;
    }
    .cardContainer{
        margin-left: 20px;
    }
    .card{
        width: 300px;
    }
}